@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: 'Vazirmatn', sans-serif;
}
.backdrop-blur-sm {
  --tw-backdrop-blur: blur(3px);
}
.min-w-26 {
  width: 107px;
}